@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ebf8f8 !important;
}

.w3-sidebar.w3-collapse {
  z-index: 3;
  width: 17.5%;
  padding: 10px 15px;
  background: #94daff !important;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.w3-sidebar.w3-collapse .w3-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-bottom: 1px solid #94b3fd;
  margin-bottom: 25px;
}
.w3-sidebar.w3-collapse .w3-container a {
  width: 60px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.w3-sidebar.w3-collapse .w3-container a:hover {
  background: none !important;
}
.w3-sidebar.w3-collapse .img-logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}
.w3-sidebar.w3-collapse .img-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.w3-sidebar.w3-collapse .img-logo img:hover {
  transform: scale(1.1);
}
.w3-sidebar.w3-collapse .w3-container h3 {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  width: 200px;
  letter-spacing: 1px;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
}
.w3-sidebar.w3-collapse .w3-wide.menu {
  padding: 10px;
  padding: 5px 25px;
  background: #99fdff6b;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.w3-sidebar.w3-collapse .w3-wide.menu a {
  font-size: 14px;
  letter-spacing: 1px !important;
  font-weight: 500;
  color: #363636;
  text-decoration: none;
  padding-right: 90%;
  width: 100%;
}
.w3-sidebar.w3-collapse .w3-wide.menu:hover {
  color: #363636;
  background: #99fdff;
}

.w3-sidebar.w3-collapse .w3-wide.menu a:hover {
  text-decoration: none;
}
/* ------------- main --------------*/

.w3-main {
  width: 82.5%;
  margin-left: 17.5%;
}

.w3-main #products {
  display: flex;
  justify-content: center;
}

.w3-main #products .w3-content {
  background: #94daff !important;
  padding: 5px 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.w3-main #products .w3-content h1 {
  font-size: 32px;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  letter-spacing: 2px;
  color: #363636;
}

.w3-main .container-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.w3-main .w3-row .box {
  width: 23%;
}

.w3-row .w3-container .item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  transition: all 0.4s ease-in-out;
  margin: 15px 0;
}

.w3-row .w3-container .item:hover {
  transform: scale(1.05);
}

.w3-row .w3-container .item-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.w3-row .w3-container .item-img .img {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.w3-row .w3-container .item-img .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.w3-row .w3-container .item-img .img:hover .w3-display-middle {
  display: flex;
}

.w3-row .w3-container .item-img .w3-display-middle {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transform: unset;
  top: 0;
  left: 0;
  background: #effeffa8;
  animation-name: opacity;
  animation-duration: 0.4s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.w3-row .w3-container .item-img .w3-display-middle button {
  background-color: #7146a8;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
}

.w3-row .w3-container .item-img .w3-display-middle button:hover {
  background: #371f57;
}

.w3-row .w3-container .item-img .w3-display-middle .checkbox {
  position: absolute;
  top: -27px;
  right: 0px;
  padding: 25px 15px 10px 15px;
  background: #7146a8;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.w3-row .w3-container .item-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #ffffff;
}

.w3-row .w3-container .item-detail .detail {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 15px;
  width: 72.5%;
  text-align: left;
}

.w3-row .w3-container .item-detail .detail p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.w3-row .w3-container .item-detail .detail p span.name {
  font-size: 15px;
  font-weight: 500;
  color: #1e2c4d;
}

.w3-row .w3-container .item-detail .detail span:last-child {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #476dc4;
}

.w3-row .w3-container .item-detail form {
  width: 27.5%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b3e4ff;
  border-bottom-right-radius: 15px;
  background: #effeff;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.w3-row .w3-container .item-detail form:hover {
  background: #99fdff71;
  border: 1px solid #a9defa;
}

.w3-row .w3-container .item-detail form:hover button i {
  margin-top: 10px;
}

.w3-row .w3-container .item-detail form button {
  background: none;
  border: none;
  height: 100%;
}

.w3-row .w3-container .item-detail form button i {
  font-size: 28px;
  transition: all 0.3s ease-in-out;
}

.w3-row .w3-container .item input.more {
  position: unset !important;
  margin: 0;
  padding: 0;
  margin-right: 5px !important;
}

.w3-animate-zoom {
  border-radius: 25px;
}

/* เลือนปุ่มเปรียบเทียบ */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* footer */
.footer.w3-padding-32 {
  background-color: #999;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 1.2em;
  opacity: 0.8;
  z-index: 3;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

/* เลือนปุ่มเปรียบเทียบ */
.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.wrapper button {
  font-family: "Prompt", sans-serif;
}

.footer .select-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* การ์ดแสดงเปรียบเทียบ */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: unset !important;
  position: relative;
  width: 28%;
  height: 80px;
  background: whitesmoke;
  margin: 15px;
  text-align: center;
  padding: 10px 25px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;
  border-radius: 15px !important;
  animation-name: slide;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  transition: all 0.4s ease-in-out;
  transition-duration: 0.4s;
}

@keyframes slide {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.card img {
  border-radius: 10px;
  margin-right: 10px;
}

.card a {
  position: absolute;
  top: -20px !important;
  right: -20px;
  background: #e22323;
  padding: 25px 30px 10px 15px;
  margin: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 50px;
  text-decoration: none;
}

.card a:hover {
  background: #b32626;
  text-decoration: none;
}

.card span {
  font-size: 16px !important;
}

.card span.prod-price {
  font-size: 18px !important;
  font-weight: 600;
  color: #476dc4;
}

.card a i {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* ปุ่ม x ใน card */
.box a {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  text-decoration: none;
}

@media screen {
  #printSection {
    display: none;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #printSection,
  #printSection * {
    visibility: visible;
  }

  #printSection {
    position: absolute;
    left: 0;
    top: 0;
  }
}
th {
  text-align: center;
  padding: 8px;
  background-color: #79d2a4;
}

.table-bordered {
  border-radius: 15px;
  overflow: hidden;
  border: none !important;
}

.table-bordered thead.content tr th:first-child {
  border-top-left-radius: 15px;
}

.table-bordered > tbody > tr > td img {
  width: 200px;
  height: 200px;
}

.modal-content {
  border-radius: 15px !important;
}

nav.mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  nav.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .w3-padding-16 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav.mobile .img-logo {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
  }
  nav.mobile .img-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  nav.mobile h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  .w3-wide.menu {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99fdff6b;
    border: 1px solid #476dc4;
    border-radius: 10px;
  }
  .w3-wide.menu a {
    font-size: 26px;
    font-weight: 700;
    color: #1441ac;
    padding: 10px 15px;
    border: 4px solid transparent;
    border-radius: 50px;
  }
  .w3-wide.menu a:hover {
    border: 2px solid #1441ac;
    text-decoration: none;
  }
  .w3-main {
    width: 100%;
  }
  .w3-main .container-item {
    flex-wrap: wrap;
  }
  .w3-main .w3-row .box {
    width: 40% !important;
    margin: 2rem 0;
  }
  .footer .select-card {
    flex-wrap: wrap;
  }
  .card {
    width: 90%;
  }
  .footer.w3-padding-32 {
    height: auto;
  }
  .table-bordered > tbody > tr > td img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 600px) {
  .w3-main {
    width: 100%;
  }
  .w3-main .container-item {
    flex-wrap: wrap;
  }
  .w3-main .w3-row .box {
    width: 80% !important;
    margin: 2rem 0;
  }
}
